<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Templates/css/error.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <div class="container">
        <div class="error-title">404</div>
        <div class="error-message">Oops! It looks like you've taken a wrong turn.</div>
        <img src="https://media.giphy.com/media/3o6Zt481isNVuQI1l6/giphy.gif" alt="Confused Travolta" class="error-image">
        <div class="error-message">Don't worry, even the best of us get lost sometimes.</div>
        <a href="/" class="cta-button">Go Back Home</a>
    </div>
</body>
</html>